
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<br />
<form method="post">
    <div class="container">
        <h3>Öğrenci Giriş Paneli</h3>
        <label>Mail Adresiniz</label>
        <input type="text" class="form-control" name="Email" />
        <br />
        <label>Şifreniz</label>
        <input type="password" class="form-control" name="Password" />
        <br />
        <button class="btn btn-warning btn-block">Giriş Yap</button>
        <div><i class="mdi mdi-star"></i><code>f4ce</code><span>mdi-star</span></div>
        <div><i class="mdi mdi-star-circle"></i><code>f4cf</code><span>mdi-star-circle</span></div>
        <div><i class="mdi mdi-star-half"></i><code>f4d0</code><span>mdi-star-half</span></div>
        <div><i class="mdi mdi-star-off"></i><code>f4d1</code><span>mdi-star-off</span></div>
        <div><i class="mdi mdi-star-outline"></i><code>f4d2</code><span>mdi-star-outline</span></div>
    </div>
</form>