
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="/AdminDashboard/Index/" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/AdminProfile/Index/" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Admin Profil</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Category/Index/" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Kategoriler</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Instructor/Index/" aria-expanded="false"><i class="mdi mdi-school"></i><span class="hide-menu">Eğitmenler</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Testimonial/Index/" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Referanslar</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Course/Index/" aria-expanded="false"><i class="mdi mdi-book-multiple"></i><span class="hide-menu">Kurslar</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/About/Index/" aria-expanded="false"><i class="mdi mdi-account-settings-variant"></i><span class="hide-menu">Hakkımızda</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Address/Index/" aria-expanded="false"><i class="mdi mdi-google-maps"></i><span class="hide-menu">Adres Bilgileri</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/Message/Index/" aria-expanded="false"><i class="mdi mdi-message-text"></i><span class="hide-menu">Mesaj Kutusu</span></a>
                </li>
            </ul>
            <div class="text-center m-t-30">
                <a href="/Login/Index" class="btn waves-effect waves-light btn-danger hidden-md-down">Çıkış Yap</a>
            </div>
        </nav>
    </div>
    <div class="sidebar-footer">
        <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item--><a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
</aside>

